*{
  margin: 0;
  padding: 0;
}

html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
}
/*body {
  background-color: #a4c847;
}*/
form{
  min-height: 100%;
}
p {
  font-size: 24px;
  font-style: italic;
  font-family: sans-serif;
}
.box1, .box2{
  /*width: 200px;
  height: 100px;*/
    width: 50%;
    height: 100vh;
    float: left;
}
.box1{
  background-color: grey;
}
.box2{
  background-color: blue;
}
